.foto-home {
    height: 200px;
    border-radius: 2em;
}
header {
    position: relative;
}
.subtitulo-principal{
    font-size: .4em;
}
.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}
.saudacao-inicio {
    color: #889;
    font-size: 3em;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    font-size: 2em;
    color: #000;
}
.saudacao em {
    color: #851944;
    font-size: 4em;
}
.botao-index {
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 40ch;
    display: block;
    text-align: center;
    font-size: 1.25em;
    padding: .5em;
    margin: 2em auto;
}
.secao-inicio {
    padding: 2rem;
}
.secao-inicio h2 {
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 2px 2px #000;
    margin-bottom: .5em;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
    position: relative;
}
.blog li {
    width: 50%;
}
.blog small {
    position: relative;
    top: -2em;
}
.blog .post2 a, .blog .post3 a {
    color: #FCF;
    padding: .5em;
    display: block;
}
footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}
footer h2{
    font-size: 3em;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
.palavra-home {
    font-family: "Shadows Into Light", cursive;
    color: #D5447E;
    font-weight: bold;
    font-size: 0.40em;
    position: absolute;
}
.eficiencia {
    top: 20%;
    left: 75%;
}
.boas-praticas {
    top: 70%;
    right: 70%;
}
.codigo-limpo {
    top: 47%;
    right: 85%;
}
.css3 {
    top: 45%;
    right: 66%;
}
.html5 {
    top: 42%;
    left: 80%;
}
.javascript {
    top: 8%;
    left: 60%;
}
.acessibilidade {
    top: 35%;
    right: 70%;
}
.responsivo {
    top: 12%;
    right: 80%;
}
.otimizacoes {
    top: 60%;
    left: 70%;
}
.agilidade {
    top: 9%;
    right: 64%;
}
.design {
    top: 37%;
    left: 65%;
}
.post1 {
    color: #E13868;
    background-color: #F2FFFC;
    padding: .5em;
    display: inline-block;
}
.blog .inicio-post {
    color: black;
    background-color: white;
    background-color: #F2FFFC;
    padding: 1.5em;
    position: absolute;
    top: 4em;
    left: 30%;
    height: 8em;
    width: 60%;
}