body {
    overflow-x: hidden;
    perspective: 6px;
    perspective-origin: 50% 160px;
    height: 100%;
}
html {
    overflow-x: hidden;
    height: 100%;
}
.foto-home {
    height: 200px;
    border-radius: 2em;
}
.subtitulo-principal{
    font-size: .4em;
}
.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}
.saudacao-inicio {
    color: #889;
    font-size: 3em;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    font-size: 2em;
    color: #000;
}
.saudacao em {
    color: #851944;
    font-size: 4em;
    display: inline-block;
    transform: rotate(-5deg) skew(-10deg);
}
.botao-index {
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 40ch;
    display: block;
    text-align: center;
    font-size: 1.25em;
    padding: .5em;
    margin: 2em auto;
}
.secao-inicio {
    padding: 2rem;
}
.secao-inicio h2 {
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 2px 2px #000;
    margin-bottom: .5em;
}
.trabalhos {
    background-color: #3C1D3D;
     background-image: linear-gradient(135deg,
                        transparent,
                        transparent 14px,
                        rgba(0, 0, 0, 0.1) 14px,
                        rgba(0, 0, 0, 0.1) 15px,
                        transparent 15px,
                        transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    background-image: linear-gradient(45deg,
                        transparent,
                        transparent 14px,
                        rgba(255, 255, 255, 0.1) 14px,
                        rgba(255, 255, 255, 0.1) 15px,
                        transparent 15px,
                        transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
    color: #FFF;
    border-bottom: .5em solid #851944;
    position: relative;
}
.blog li {
    width: 50%;
}
.blog small {
    position: relative;
    top: -2em;
}
.blog .post2 a, .blog .post3 a {
    color: #FCF;
    padding: .5em;
    display: block;
}
footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}
footer h2{
    font-size: 3em;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
.palavra-home {
    font-family: "Shadows Into Light", cursive;
    color: rgba(255, 127, 127, .5);
    font-weight: bold;
    font-size: 150%;
    position: absolute;
}
.eficiencia {
    top: 45%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px) scale(0.25);
}

.boas-praticas {
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(1px) scale(0.25);
    opacity: .8;
}

.codigo-limpo {
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%) rotate(-10deg) translateZ(2px) scale(0.25);
}

.css3 {
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(2px) scale(0.25);
    opacity: .9;
}

.html5 {
    top: 30%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
    opacity: .8;
}

.javascript {
    top: 15%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(1px) scale(0.25);
    opacity: .5;
}

.acessibilidade {
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(3px) scale(0.25);
}

.responsivo {
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(3px) scale(0.25);
    opacity: .9;
}

.otimizacoes {
    top: 70%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(2px) scale(0.25);
    opacity: .7;
}

.agilidade {
    top: 75%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(1px) scale(0.25);
    opacity: .5;
}

.design {
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
    opacity: .8;
}
.post1 {
    color: #E13868;
    background-color: #F2FFFC;
    padding: .5em;
    display: inline-block;
}
.blog .inicio-post {
    color: black;
    background-color: white;
    background-color: #F2FFFC;
    padding: 1.5em;
    position: absolute;
    top: 4em;
    left: 30%;
    height: 8em;
    width: 60%;
}
.titulo-principal {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
}
.banner-canto {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
    box-sizing: border-box;
    transform: translate(6.5765em, -2.4745em) rotate(45deg);
    transform-origin: 0 0;
    width: 14em;
    padding: 1em 0;
    text-align: center;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: .5em;
    text-decoration: none;
    color: white;
    background-color: #3C1D3D;
    border: .25em solid black;
}
.palavras-home {
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}